/* Kilo Code overrides */

[data-component="code"] {
  font-family: var(--vscode-editor-font-family, Menlo, Monaco, "Courier New", monospace);
  font-size: var(--font-size-base);
  content-visibility: auto;
  overflow: hidden;
}
